---
---

<html lang="en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width" />
    <meta name="generator" content={Astro.generator}>
    <title>Life is Expensive</title>
  </head>
    <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About this Site</h1>
          <p>I was motivated to start this site to help people learn how to save and invest.</p>
        </body>
    </html>
