---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'About This Site'

const goals = ["save", "invest", "retire"]
---

<Layout>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>
          <p>Do you find the topic of money to be intimidating? Well, it shouldn't be. I was motivated to start this blog to help people:<p>
          {goals.map((goal) => <li> {goal} </li>)}
</Layout>
