---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Blog'
---
<Layout>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
      <h1>{pageTitle}</h1>
      <p>View articles here</p>
      <ul>
        <li><a href="/posts/savings">Post 1</a></li>
        <li><a href="/posts/retirement">Post 2</a></li>
        <li><a href="/posts/cuttingcosts">Post 3</a></li>
      <ul>
 </Layout>