---
---

<html lang="en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width" />
    <meta name="generator" content={Astro.generator}>
    <title>Life is Expensive</title>
  </head>
    <body>
      <h1>Life is Expensive</h1>
    </body>
</html>
