---
const platform = 'github';
const username = 'Laweeza';
const project = 'life-is-expensive';
---
<footer>
  <p>Want to contribute? Feel free to check out the repo on <a href={`https://www.${platform}.com/${username}/${project}`} target="_blank" rel="noopener noreferrer">{platform}</a>!</p>
</footer>

