---
import '../styles/global.css';
const pageTitle = 'Life is Expensive';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
		<!-- Add preloading for font -->
		<link rel="preload" href="/fonts/inter-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	</head>
	<body>
		<slot />
	</body>
</html>

